@import url("Common.css?v=0539");

html, body, #masterTable{
	background: #ffffff;
}
label, input.radio{vertical-align:text-bottom; } 

.dynamic-link-list > li
{
    cursor: pointer;
    overflow: auto; line-height: 20px;
    color: #666; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    padding: 5px 15px 5px 15px;
}
.dynamic-link-list > li:hover
{
    background-color: #ededed;
    font-weight: normal;
}

/* rotate a glyphicon 225 degrees */
.gly-rotate-225 { transform: rotate(225deg); }
	
/* -- Resident Row S1 : Circle (colored)-Number-Arrow  --*/
.groupCircle { width:40px; margin-right:4px; margin-left:5px; }
span.circle { border-radius: 50%; display: inline-block; width: 10px; height: 10px; background-color:#40B1B3; margin-right:5px;}
		#circleTeal { width: 10px; height: 10px; background-color:#40B1B3; margin-right:5px;  } 
.arrow-up { width:14px; height:14px;  display: inline-block; }
.arrow-upOrangeAlert { width:14px; height:14px;  display: inline-block;
 border-left: 7.6px solid transparent; border-right: 7.6px solid transparent; border-bottom: 11px solid #FC7200; margin-right:3px; } 
    .arrow-upGray { border-left: 7.6px solid transparent; border-right: 7.6px solid transparent; border-bottom: 11px solid #ccc; }                     
	span.circle { border-radius: 50%; display: inline-block; }
		#circleTeal { width: 10px; height: 10px; background-color:#40B1B3; margin-right:5px;  }
span.circleGray { width: 10px; height: 10px; background-color:#ccc; margin-right:3px; margin-top:2px; }
.glyphicon.glyphicon-record.glyph-circleTeal { content: "\e165"; color: #40B1B3; font-size: 13px; }

.groupTriangle { width:40px; margin-right:10px; margin-left:5px; }
.glyphicon.glyphicon-warning-sign.glyph-triangleOrange { content: "\e107"; color: #FC7200; font-size: 12px; }
.glyphicon.glyphicon-warning-sign.glyph-triangleGray { width:14px; height:14px;  display: inline-block;
 border-left: 7.6px solid transparent; border-right: 7.6px solid transparent; border-bottom: 11px solid #CCC; }
.triangleNumber { font-size:12px; color:#333; }
.triangleNumberOff { font-size:12px; color:#ccc; }

.circleNumber { font-size:12px; color:#333; }
.circleNumberOff { font-size:12px; color:#ccc; }
.glyphicon.glyphicon-arrow-down  { font-size:9px; font-weight: normal; color:#919191; }

/* styles for nurse summary grid */
.ns-cg { color: Gold; display:inline-block; font-weight: bold; margin: 0 0 5px 0; }
.ns-abnormal { border-radius: 50%; display: inline-block; top:5px; width: 10px; height: 10px; background-color:#40B1B3; margin-right:5px; }

 

/* Link-Buttons in Residents List underneath search row options */
.btn.btn-primary.btn-sm.btn-superSmall { font-size:11px; font-weight:normal;  }
.actionBarRowNew { display:block; height:35px; padding-top:5px; float:right; }
.floatActionBarRight { float:right; display:block; }
/*#NavEmail a, #NavExport  a, { display:inline-block; margin:4px 4px 4px 4px; padding:2px 4px 0 4px; border:1px solid #78A9E3; background-color:#f4f4f4; border-radius: 3px;}
#NavAdd  a, #NavPrePop a, #NavView  a,  #NavEdit  a, #NavLock a, #NavUnlock  a, #NavTerminate a, #NavFacRoles a, 
#NavUserSettings a, #NavSelect  a, #NavDelete  a, #NavAssess  a,  #NavViewProfile  a, #NavExport  a, #NavEmail a, 
#NavFacilityIPs a, #NavMassTX a, { display:inline-block; margin:4px 4px 4px 4px; border:1px solid #78A9E3; }

 ------------------------------------------------------------ */

li.alerts > ul > li
{ overflow: auto; line-height: 20px; padding:5px 10px 5px 10px; }
li.FacilityAlert{ border-bottom: thin solid Green; border-top: thin solid Green; color: Green; }
li.UserAlert    { border-bottom: thin solid Orange; color: Orange; }
li.SystemAlert  { border-bottom: thin solid Red; color: Red; }
@media screen and (min-width: 767px) {
    li.alerts > ul > li
    { min-width: 600px; }
}

@media screen and (max-width: 767px) {
    li.alerts > ul > li
    { min-width: 100px; max-width: 90%; margin-left: 5%; }

    .navbar.navbar-inverse .dropdown-menu li.dropdown-header 
    { margin-left:0px !important; }
}
.cFormNavTitle{ background-color: #91d1e1; }

.resizeButton
{
}
select.dropDownList, input.textBox, textarea.textBox { color:#111111; border: solid 1px #A8BFDE; }

.required { color: Red; font-size: 10px; }
select { font-size: 100%; }
input { font-size: 100%; }
a { color: #4A4A4A; text-decoration: none; cursor:pointer; }


.ActionBar{ width: 100%; padding-top: 2px; background-color: #cccccc; text-align: left; vertical-align: middle; border-bottom: solid 1px #999999; }

.ActionBar a:hover 
{
    color:#000000;
    font-style:italic;
    font-weight:bold;
}

.SearchBar{ width: 100%; padding-top: 2px; background-color: #ffffff; text-align: left; vertical-align: top; border-bottom: solid 1px #999999; }

.cssMenuMain{ }

#dMainPane{ width: 100%; }
#dSearchBar{ width: 100%; background-color: #ffffff; }
#dContent{ width: 100%; vertical-align: top;}
#dContent2{ width: 100%; background-color: #ffffff; }  

#dStatusBarInset{  height: 26px; width: 100%; text-align:center; }


.cssDivBorderTable{}
.cssDivBorderTable tr{ background-color: #ffffff; }
.cssDivBorderTable td{ padding: 0 0 0 2; }
.cssDivBorderTable th{ border-left: solid 1px #cccccc; border-bottom: solid 1px #cccccc; border-top: solid 1px #cccccc; background-image: url(gray26.jpg); background-repeat:repeat-x; color: #2f52b7;
					   font-weight: normal; text-align: left;  padding:  0 0 0 2; vertical-align: middle; }
.rowActionButtons{ text-align: center; }

.hint { color: #666666; }

.asmtEditorContainer
{
	margin: 0px 0px 0px 0px; 
	vertical-align: top;
}

/* checkbox list */
.checklist  {  	background: #FFFFFF; border: solid 1px black; overflow: auto; }

/* Nurse Dashboard */

.DashHeaderRow { font-weight: bold; background-color: #cccccc; border: 2px 0px 2px 0px solid #223e7d; height: 16px; vertical-align: middle; }
.rdTop { background-color: #cccccc; border: 2px 0px 2px 0px solid #223e7d; height: 16px; vertical-align: middle !important; }
.DashSeparator { border-top: solid 2px #cccccc; height: 2px; }
.DashHeaderResidentRow { font-size:  120% }
.DashResidentName { font-weight: bold; padding-bottom: 3px; letter-spacing: 0.5px; }
.DashResidentName img { position: relative; top: 4px; }
.DashAsmtTypeName { font-weight: bold; padding-bottom: 5px; }
.DashDXLabel { font-weight: normal; color: #999999; text-align: left; vertical-align: top;}
.DashDX { font-weight: normal; text-align: left;}
.DashVitalLabel { font-weight: normal; color: #666666; font-weight:bold; white-space:nowrap;}

.DashButtonSK { background-color: #F67F21 !important; border: 1px solid #F67F21 !important; }
.DashButtonLTC { background-color: #223e7d !important; border: 1px solid #223e7d !important; }
.DashButtonAL { border: 1px solid #999999 !important; }
.DashButtonIL { border: 1px solid #999999 !important; }
.DashButtonSK:hover { background-color:#FFDA84 !important; border: 1px solid #f67f21 !important; }
.DashButtonLTC:hover { background-color:#FFDA84 !important; border: 1px solid #f67f21 !important; }
.DashButtonAL:hover { border: 1px solid #999999 !important; }
.DashButtonIL:hover { border: 1px solid #999999 !important; }

.DashStartAsmt { font-weight: normal; }
.DashPrintAsmt { font-weight: normal; }
.physicianLabel { text-align: center; white-space:nowrap;padding-bottom: 3px; }
.physicianLabel img { position: relative; top: 4px; }

.RadTreeView_Metro .rtSelected .rtIn {
    background-color: #ededed !important;
    border-color: #ededed !important;
    color: #000000 !important;
    font-weight: bold;
}

.RadGrid_Metro .rgActiveRow td, .RadGrid_Metro .rgSelectedRow td {
    border-color: #223e7d !important;
}

.RadGrid_Metro .rgMasterTable .rgSelectedCell, .RadGrid_Metro .rgSelectedRow {
    background: none repeat scroll 0 0 #223e7d !important;
}

.RadPanelBar_Metro .rpSelected, .RadPanelBar_Metro .rpSelected:hover, .RadPanelBar_Metro .rpExpanded, .RadPanelBar_Metro .rpExpanded:hover
{
    background-color: #223e7d !important;
}

.accordionHeader  
{
	overflow: hidden;
	border-bottom:inset thin #efeade;
	background-color: #223e7d;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	box-sizing:content-box;
}
.accordionHeader:hover
{
	overflow: hidden;
	cursor: pointer;
	border-bottom:inset thin #efeade;
	background-color: #dddddd;
	color: #223e7d;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	box-sizing:content-box;
}
.accordionHeaderSelected 
{
	overflow: hidden;
	border-bottom:inset thin #efeade;
	background-color: #F67F21;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	box-sizing:content-box;
}
.accordionContent 
{ 
	font-size: 8px;
	color: #000000;
	background-color: #ffffff;
}

/* Assessment */
.AsmtHeader
{
	overflow: hidden;
	border-top-style: inset;
	border-top-width: thin;
	background-color: #eff7ff;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	vertical-align: middle;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.AsmtHeaderSelected
{
	overflow: hidden;
	border-top-style: inset;
	border-top-width: thin;
	border-bottom-style: inset;
	border-bottom-width: thin;
	background-color: #eff7ff;
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	height: 15px;
	vertical-align: middle;
	cursor: hand;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.AsmtContent
{
}

.AsmtCategoryTable
{
	border: none 0px green;
	padding: 0 0 0 0;
	width: 100%;
}

.AsmtGroupTable
{
	border: none 0px red;
	padding: 0 0 0 0;
	border-left: none 3px red;
	border-bottom: inset thin #efeade;
	width: 100%;
}

.AsmtGroupName
{
	font-weight:bold;
	color: #5AA6EF;
}

.AsmtGroupLabel
{
/*	white-space:nowrap; */
	font-size: 15px;
	font-weight: bold;
	height: 25px;
	padding: 25px 5px 5px 5px;
}

.AsmtGroupCollDt
{
	border: none 0px blue;
	width: 300px;
	text-align:right;
}

.AsmtItem
{
	padding: 0 0 0 0;
	border: none 0px blue;
}

.dlAsmt
{
	padding: 0px;
}
.AsmtItemLabel
{
	font-size: 12px;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	height: 10px;
}

.AsmtItemEntry
{
	width: 150px;
	text-align: left;
	border: none 0px yellow;
}
.AsmtItemIndicators
{
	border: none 0px green;
	width: 20px;
}

/* Task Status */
.TaskOverdue
{
    color:#FF0000;
}
.TaskOverdue td 
{
    padding-left: 8px;
    vertical-align:top;
}
.TaskOverdue a
{
    color:#FF0000;
    text-decoration:underline;
}
.TaskOverdue a:hover
{
    color:#FF6666;
}
.TaskDue
{
    font-weight:bold;
}
.TaskDue td 
{
    padding-left: 8px;
    vertical-align:top;
}
.TaskDue a
{
    color:#000000;
    text-decoration:underline;
}
.TaskDue a:hover
{
    font-weight:normal;
}
.TaskCancelled
{
    color:#778899;
    font-style:italic;
}
.TaskCancelled td 
{
    padding-left: 8px;
    vertical-align:top;
}
.TaskInProcess
{
    font-weight:bold;
    color:Navy;
}
.TaskInProcess td 
{
    padding-left: 8px;
    vertical-align:top;
}
.TaskInProcess a
{
    color:Navy;
    text-decoration:underline;
}
.TaskInProcess a:hover
{
    font-weight:normal;
}
.TaskUpcoming
{
    color:#778899;
}
.TaskUpcoming td 
{
    padding-left: 8px;
    vertical-align:top;
}
.TaskComplete {}
.TaskComplete    td 
{
    padding-left: 8px;
    vertical-align:top;
}

.Removed
{
    color:Gray;
    text-decoration:line-through;
}

.CurrAdmission
{
    font-weight:bold;
}

.CurrAdmission td
{
    padding-left: 8px;
}

/* Buttons */
#dialogControl button
{
	background-color:#deefff;
	border: solid thin #000000;
	height:22px;
	vertical-align:middle;
}

.ActivateButton{      background-image: url('../COMS/Buttons/activate3.jpg'); height:22px; width:67px; }
.ActivateButton:hover{background-image: url('../COMS/Buttons/activate1.jpg'); height:22px; width:67px; }
.ActivateButton2{      background-image: url('../COMS/Buttons/activate3.jpg'); height:22px; width:67px; }
.ActivateButton2:hover{background-image: url('../COMS/Buttons/activate1.jpg'); height:22px; width:67px; }
.AddButton{           background-image: url('../COMS/Buttons/add3.png'); height:22px; width:46px; }
.AddButton:hover{     background-image: url('../COMS/Buttons/add1.jpg'); height:22px; width:46px; }
.AddButtonInline{           background-image: url('../COMS/Buttons/add2.jpg'); height:22px; width:46px; }
.AddButtonInline:hover{     background-image: url('../COMS/Buttons/add1.jpg'); height:22px; width:46px; }
.AddButtonRound           
{
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    border-radius:6px;
    background-image: url('../COMS/Buttons/addnoborder.jpg'); 
    height:20px; 
    width:41px; 
    }
.AddButtonRound:hover     
{
    border-width:1px;
    border-style:solid;
    border-color:#ff8002;
    border-radius:6px;
    background-image: url('../COMS/Buttons/addfocusnoborder.jpg'); 
    height:20px; 
    width:41px; 
    }
.ReolveButtonRound           
{
    border-width:1px;
    border-style:solid;
    border-color:#000000;
    border-radius:6px;
    background-image: url('../COMS/Buttons/resolvenoborder.jpg'); 
    height:20px; 
    width:57px; 
    }
.ReolveButtonRound:hover     
{
    border-width:1px;
    border-style:solid;
    border-color:#ff8002;
    border-radius:6px;
    background-image: url('../COMS/Buttons/resolvefocusnoborder.jpg'); 
    height:20px; 
    width:57px; 
    }
.AssessButton{          background-image: url('../COMS/Buttons/AssessUp.png'); height:22px; width:60px; }
.AssessButton:hover{    background-image: url('../COMS/Buttons/AssessOver.png'); height:22px; width:60px; }
.CancelButton{        background-image: url('../COMS/Buttons/cancel3.png'); height:22px; width:61px; }
.CancelButton:hover{  background-image: url('../COMS/Buttons/cancel1.jpg'); height:22px; width:61px; }
.CancelButtonInline{        background-image: url('../COMS/Buttons/cancel2.jpg'); height:22px; width:61px; }
.CancelButtonInline:hover{  background-image: url('../COMS/Buttons/cancel1.jpg'); height:22px; width:61px; }
.CategoryButton{      background-image: url('../COMS/Buttons/category3.jpg'); height:22px; width:72px; }
.CategoryButton:hover{background-image: url('../COMS/Buttons/category1.jpg'); height:22px; width:72px; }
.ClearButton{         background-image: url('../COMS/Buttons/clear3.png'); height:22px; width:49px; }
.ClearButton:hover{   background-image: url('../COMS/Buttons/clear1.jpg'); height:22px; width:49px; }
.ClearButtonInline{ background-image: url('../COMS/Buttons/clear2.jpg'); height:22px; width:49px; }
.ClearButtonInline:hover{   background-image: url('../COMS/Buttons/clear1.jpg'); height:22px; width:49px; }
.CloseButton{         background-image: url('../COMS/Buttons/close3.png'); height:22px; width:52px; }
.CloseButton:hover{   background-image: url('../COMS/Buttons/close1.jpg'); height:22px; width:52px; }
.CloseButtonInline{ background-image: url('../COMS/Buttons/close2.jpg'); height:22px; width:52px; }
.CloseButtonInline:hover{   background-image: url('../COMS/Buttons/close1.jpg'); height:22px; width:52px; }
.CloseStartNewButton{         background-image: url('../COMS/Buttons/closestartnew3.png'); height:22px; width:103px; }
.CloseStartNewButton:hover{   background-image: url('../COMS/Buttons/closestartnew1.jpg'); height:22px; width:103px; }
.CompleteButton{      background-image: url('../COMS/Buttons/complete3.png'); height:22px; width:68px; }
.CompleteButton:hover{background-image: url('../COMS/Buttons/complete1.jpg'); height:22px; width:68px; }
.CompleteButtonInline{      background-image: url('../COMS/Buttons/complete2.jpg'); height:22px; width:68px; }
.CompleteButtonInline:hover{background-image: url('../COMS/Buttons/complete1.jpg'); height:22px; width:68px; }
.CopyButton{          background-image: url('../COMS/Buttons/copy3.png'); height:22px; width:53px; }
.CopyButton:hover{    background-image: url('../COMS/Buttons/copy1.jpg'); height:22px; width:53px; }
.DeActivateButton{      background-image: url('../COMS/Buttons/deactivate3.png'); height:22px; width:79px; }
.DeActivateButton:hover{background-image: url('../COMS/Buttons/deactivate1.jpg'); height:22px; width:79px; }
.DeleteButton{        background-image: url('../COMS/Buttons/delete3.png'); height:22px; width:57px; }
.DeleteButton:hover{  background-image: url('../COMS/Buttons/delete1.jpg'); height:22px; width:57px; }
.DeleteButtonInline{        background-image: url('../COMS/Buttons/delete2.jpg'); height:22px; width:57px; }
.DeleteButtonInline:hover{  background-image: url('../COMS/Buttons/delete1.jpg'); height:22px; width:57px; }
.DownButton{          background-image: url('../COMS/Buttons/down3.jpg'); height:22px; width:54px; }
.DownButton:hover{    background-image: url('../COMS/Buttons/down1.jpg'); height:22px; width:54px; }
.EditButtonSectHead{          background-image: url('../COMS/Buttons/edit3SectHead.jpg'); height:22px; width:47px; }
.EditButtonSectHead:hover{    background-image: url('../COMS/Buttons/edit1.jpg'); height:22px; width:47px; }
.EditButton{          background-image: url('../COMS/Buttons/edit3.png'); height:22px; width:47px; }
.EditButton:hover{    background-image: url('../COMS/Buttons/edit1.jpg'); height:22px; width:47px; }
.EditButtonInline{          background-image: url('../COMS/Buttons/edit2.jpg'); height:22px; width:47px; }
.EditButtonInline:hover{    background-image: url('../COMS/Buttons/edit1.jpg'); height:22px; width:47px; }
.EmailButtonInline{  background-image: url('../COMS/Buttons/Email2.png'); height:22px; width:54px; }
.EmailButtonInline:hover{   background-image: url('../COMS/Buttons/Email1.png'); height:22px; width:54px; }
.EmailButton{        background-image: url('../COMS/Buttons/Email3.png'); height:22px; width:54px; }
.EmailButton:hover{   background-image: url('../COMS/Buttons/Email1.png'); height:22px; width:54px; }
.ExportButton{        background-image: url('../COMS/Buttons/Export3.png'); height:22px; width:51px; }
.ExportButton:hover{  background-image: url('../COMS/Buttons/Export1.png'); height:22px; width:51px; }
.FacilityIPButton{           background-image: url('../COMS/Buttons/Facil_IP3.png'); height:22px; width:72px; }
.FacilityIPButton:hover{     background-image: url('../COMS/Buttons/Facil_IP1.jpg'); height:22px; width:72px; }
.FacilityRolesButton{           background-image: url('../COMS/Buttons/FacilityRoles3.png'); height:22px; width:90px; }
.FacilityRolesButton:hover{     background-image: url('../COMS/Buttons/FacilityRoles1.jpg'); height:22px; width:90px; }
.UserSettingsButton{           background-image: url('../COMS/Buttons/UserSettings3.png'); height:22px; width:90px; }
.UserSettingsButton:hover{     background-image: url('../COMS/Buttons/UserSettings1.jpg'); height:22px; width:90px; }


.FilterButtonInline{  background-image: url('../COMS/Buttons/filter2.jpg'); height:22px; width:51px; }
.FilterButtonInline:hover{   background-image: url('../COMS/Buttons/filter1.jpg'); height:22px; width:51px; }
.FilterButton{        background-image: url('../COMS/Buttons/filter3.jpg'); height:22px; width:51px; }
.FilterButton:hover{   background-image: url('../COMS/Buttons/filter1.jpg'); height:22px; width:51px; }
.FinishLaterButton{      background-image: url('../COMS/Buttons/FinishLater3.png'); height:22px; width:84px; }
.FinishLaterButton:hover{background-image: url('../COMS/Buttons/FinishLater1.jpg'); height:22px; width:84px; }
.GroupButton{         background-image: url('../COMS/Buttons/group3.jpg'); height:22px; width:58px; }
.GroupButton:hover{   background-image: url('../COMS/Buttons/group1.jpg'); height:22px; width:58px; }
.ImageButton{          background-image: url('../COMS/Buttons/image3.jpg'); height:22px; width:48px; }
.ImageButton:hover{    background-image: url('../COMS/Buttons/image1.jpg'); height:22px; width:48px; }
.ImageButtonInline{          background-image: url('../COMS/Buttons/image2.jpg'); height:22px; width:48px; }
.ImageButtonInline:hover{    background-image: url('../COMS/Buttons/image1.jpg'); height:22px; width:48px; }
.ImportButton{        background-image: url('../COMS/Buttons/Import3.png'); height:22px; width:51px; }
.ImportButton:hover{  background-image: url('../COMS/Buttons/Import1.png'); height:22px; width:51px; }
.ImportButtonInline{        background-image: url('../COMS/Buttons/Import2.png'); height:22px; width:51px; }
.ImportButtonInline:hover{  background-image: url('../COMS/Buttons/Import1.png'); height:22px; width:51px; }
.InterventionButton{      background-image: url('../COMS/Buttons/interventions3.jpg'); height:22px; width:92px; }
.InterventionButton:hover{background-image: url('../COMS/Buttons/interventions1.jpg'); height:22px; width:92px; }
.ItemButton{         background-image: url('../COMS/Buttons/item3.jpg'); height:22px; width:51px; }
.ItemButton:hover{   background-image: url('../COMS/Buttons/item1.jpg'); height:22px; width:51px; }
.LockButton{          background-image: url('../COMS/Buttons/Lock3.png'); height:22px; width:51px; }
.LockButton:hover{    background-image: url('../COMS/Buttons/Lock1.jpg'); height:22px; width:51px; }

.MassTXButton{background-image: url('../COMS/Buttons/MassTX3.png'); height:22px; width:72px;}
.MassTXButton:hover{background-image: url('../COMS/Buttons/MassTX1.png'); height:22px; width:72px;}

.MiniEditButton{background-image: url('../COMS/Buttons/MiniEditButton.png'); height:14px; width:14px;}
.MiniEditButton:hover{background-image: url('../COMS/Buttons/MiniEditButton.png'); height:14px; width:14px;}

.NewButtonSectHead{          background-image: url('../COMS/Buttons/New3SectHead.jpg'); height:22px; width:48px; }
.NewButtonSectHead:hover{    background-image: url('../COMS/Buttons/New1.jpg'); height:22px; width:48px; }
.NewButton{          background-image: url('../COMS/Buttons/New3.png'); height:22px; width:48px; }
.NewButton:hover{    background-image: url('../COMS/Buttons/New1.jpg'); height:22px; width:48px; }
.ObserveButton{          background-image: url('../COMS/Buttons/ObserveUp.png'); height:22px; width:64px; }
.ObserveButton:hover{    background-image: url('../COMS/Buttons/ObserveOver.png'); height:22px; width:64px; }
.OKButton{          background-image: url('../COMS/Buttons/OK3.png'); height:22px; width:41px; }
.OKButton:hover{    background-image: url('../COMS/Buttons/OK1.jpg'); height:22px; width:41px; }
.PreviewButton{        background-image: url('../COMS/Buttons/preview3.jpg'); height:22px; width:67px; }
.PreviewButton:hover{   background-image: url('../COMS/Buttons/preview1.jpg'); height:22px; width:67px; }
.PrintButton{        background-image: url('../COMS/Buttons/Print3.png'); height:22px; width:50px; }
.PrintButton:hover{  background-image: url('../COMS/Buttons/Print1.jpg'); height:22px; width:50px; }
.PrintButtonInline{        background-image: url('../COMS/Buttons/Print2.jpg'); height:22px; width:50px; }
.PrintButtonInline:hover{  background-image: url('../COMS/Buttons/Print1.jpg'); height:22px; width:50px; }
.PublishButton{        background-image: url('../COMS/Buttons/publish3.jpg'); height:22px; width:62px; }
.PublishButton:hover{   background-image: url('../COMS/Buttons/publish1.jpg'); height:22px; width:62px; }
.ResumeButton{        background-image: url('../COMS/Buttons/resume3.png'); height:22px; width:61px; }
.ResumeButton:hover{   background-image: url('../COMS/Buttons/resume1.jpg'); height:22px; width:61px; }
.ResumeButtonInline{        background-image: url('../COMS/Buttons/resume2.jpg'); height:22px; width:61px; }
.ResumeButtonInline:hover{   background-image: url('../COMS/Buttons/resume1.jpg'); height:22px; width:61px; }
.ReportButton{          background-image: url('../COMS/Buttons/report3.jpg'); height:22px; width:48px; }
.ReportButton:hover{    background-image: url('../COMS/Buttons/report1.jpg'); height:22px; width:48px; }
.ReportButtonInline{          background-image: url('../COMS/Buttons/report2.jpg'); height:22px; width:48px; }
.ReportButtonInline:hover{    background-image: url('../COMS/Buttons/report1.jpg'); height:22px; width:48px; }
.ResetPasswordButton{        background-image: url('../COMS/Buttons/resetpswd3.png'); height:22px; width:97px; }
.ResetPasswordButton:hover{   background-image: url('../COMS/Buttons/resetpswd1.jpg'); height:22px; width:97px; }
.ResetPasswordButtonInline{        background-image: url('../COMS/Buttons/resetpswd2.jpg'); height:22px; width:97px; }
.ResetPasswordButtonInline:hover{   background-image: url('../COMS/Buttons/resetpswd1.jpg'); height:22px; width:97px; }
.SaveButton{        background-image: url('../COMS/Buttons/save3.png'); height:22px; width:51px; }
.SaveButton:hover{   background-image: url('../COMS/Buttons/save1.jpg'); height:22px; width:51px; }
.SaveButtonInline{        background-image: url('../COMS/Buttons/save2.jpg'); height:22px; width:51px; }
.SaveButtonInline:hover{   background-image: url('../COMS/Buttons/save1.jpg'); height:22px; width:51px; }
.SaveMemoButton{        background-image: url('../COMS/Buttons/savememo3.png'); height:22px; width:80px; }
.SaveMemoButton:hover{   background-image: url('../COMS/Buttons/savememo1.jpg'); height:22px; width:80px; }
.SaveMemoButtonInline{        background-image: url('../COMS/Buttons/savememo2.jpg'); height:22px; width:80px; }
.SaveMemoButtonInline:hover{   background-image: url('../COMS/Buttons/savememo1.jpg'); height:22px; width:80px; }
.SaveNextButton{        background-image: url('../COMS/Buttons/savenext3.jpg'); height:22px; width:79px; }
.SaveNextButton:hover{   background-image: url('../COMS/Buttons/savenext1.jpg'); height:22px; width:79px; }
.SaveNextButtonInline{        background-image: url('../COMS/Buttons/savenext2.jpg'); height:22px; width:79px; }
.SaveNextButtonInline:hover{   background-image: url('../COMS/Buttons/savenext1.jpg'); height:22px; width:79px; }
.SavePrintButton{        background-image: url('../COMS/Buttons/saveprint3.png'); height:22px; width:79px; }
.SavePrintButton:hover{   background-image: url('../COMS/Buttons/saveprint1.jpg'); height:22px; width:79px; }
.SavePrintButtonInline{        background-image: url('../COMS/Buttons/saveprint2.jpg'); height:22px; width:79px; }
.SavePrintButtonInline:hover{   background-image: url('../COMS/Buttons/saveprint1.jpg'); height:22px; width:79px; }
.SearchButton{        background-image: url('../COMS/Buttons/search3.png'); height:22px; width:61px; }
.SearchButtonInline{  background-image: url('../COMS/Buttons/search2.jpg'); height:22px; width:61px; }
.SearchButton:hover{   background-image: url('../COMS/Buttons/search1.jpg'); height:22px; width:61px; }
.SearchButtonInline:hover{   background-image: url('../COMS/Buttons/search1.jpg'); height:22px; width:61px; }
.SelectButton{        background-image: url('../COMS/Buttons/select3.png'); height:22px; width:55px; }
.SelectButtonInline{        background-image: url('../COMS/Buttons/select2.jpg'); height:22px; width:55px; }
.SelectButton:hover{   background-image: url('../COMS/Buttons/select1.jpg'); height:22px; width:55px; }
.SelectButtonInline:hover{   background-image: url('../COMS/Buttons/select1.jpg'); height:22px; width:55px; }
.StrikeButton{          background-image: url('../COMS/Buttons/strike3.jpg'); height:22px; width:52px; }
.StrikeButton:hover{    background-image: url('../COMS/Buttons/strike1.jpg'); height:22px; width:52px; }
.StrikeButtonInline{          background-image: url('../COMS/Buttons/strike2.jpg'); height:22px; width:52px; }
.StrikeButtonInline:hover{    background-image: url('../COMS/Buttons/strike1.jpg'); height:22px; width:52px; }
.SummaryButton{        background-image: url('../COMS/Buttons/summary3.jpg'); height:22px; width:73px; }
.SummaryButton:hover{   background-image: url('../COMS/Buttons/summary1.jpg'); height:22px; width:73px; }
.SpellButton{        background-image: url('../COMS/Buttons/spellcheck3.jpg'); height:22px; width:84px; }
.SpellButton:hover{   background-image: url('../COMS/Buttons/spellcheck1.jpg'); height:22px; width:84px; }
.TerminateUserButton{        background-image: url('../COMS/Buttons/TerminateUser3.png'); height:22px; width:100px; }
.TerminateUserButton:hover{  background-image: url('../COMS/Buttons/TerminateUser1.jpg'); height:22px; width:100px; }
.TerminateUserButtonInline{        background-image: url('../COMS/Buttons/TerminateUser2.jpg'); height:22px; width:100px; }
.TerminateUserButtonInline:hover{  background-image: url('../COMS/Buttons/TerminateUser1.jpg'); height:22px; width:100px; }
.UnlockButton{          background-image: url('../COMS/Buttons/unlock3.png'); height:22px; width:62px; }
.UnlockButton:hover{    background-image: url('../COMS/Buttons/unlock1.jpg'); height:22px; width:62px; }
.UpButton{        background-image: url('../COMS/Buttons/up3.jpg'); height:22px; width:40px; }
.UpButton:hover{   background-image: url('../COMS/Buttons/up1.jpg'); height:22px; width:40px; }
.UpdateButton{        background-image: url('../COMS/Buttons/update3.png'); height:22px; width:64px; }
.UpdateButton:hover{   background-image: url('../COMS/Buttons/update1.jpg'); height:22px; width:64px; }
.UpdateButtonInline{        background-image: url('../COMS/Buttons/update2.jpg'); height:22px; width:64px; }
.UpdateButtonInline:hover{   background-image: url('../COMS/Buttons/update1.jpg'); height:22px; width:64px; }
.ViewButton{         background-image: url('../COMS/Buttons/view3.png'); height:22px; width:51px; }
.ViewButton:hover{   background-image: url('../COMS/Buttons/view1.jpg'); height:22px; width:51px; }
.ViewButtonInline{         background-image: url('../COMS/Buttons/view2.jpg'); height:22px; width:51px; }
.ViewButtonInline:hover{   background-image: url('../COMS/Buttons/view1.jpg'); height:22px; width:51px; }
.ViewFiltersButton{         background-image: url('../COMS/Buttons/viewFilter3.png'); height:22px; width:81px; }
.ViewFiltersButton:hover{   background-image: url('../COMS/Buttons/viewFilter1.png'); height:22px; width:81px; }
.ViewHistoryButton{         background-image: url('../COMS/Buttons/viewHistory3.jpg'); height:22px; width:67px; }
.ViewHistoryButton:hover{   background-image: url('../COMS/Buttons/viewHistory1.jpg'); height:22px; width:67px; }
.ViewHistoryButtonInline{         background-image: url('../COMS/Buttons/viewHistory2.jpg'); height:22px; width:67px; }
.ViewHistoryButtonInline:hover{   background-image: url('../COMS/Buttons/viewHistory1.jpg'); height:22px; width:67px; }
.ViewProfileButton{          background-image: url('../COMS/Buttons/ViewProfileUp.png'); height:22px; width:84px; }
.ViewProfileButton:hover{    background-image: url('../COMS/Buttons/ViewProfileOver.png'); height:22px; width:84px; }
.YesButtonInline{         background-image: url('../COMS/Buttons/Yes2.jpg'); height:22px; width:43px; }
.YesButtonInline:hover{   background-image: url('../COMS/Buttons/Yes1.jpg'); height:22px; width:43px; }

    .ButtonNormal 
    {
        height:20px;
        width:6em;
        background-color:#cccccc;
        border: 1px solid #297ad5;
        border-radius:2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(41, 122, 213, .85); 	
        -moz-box-shadow: 0px 0px 3px 1px rgba(41, 122, 213, .85); 	
        box-shadow: 0px 0px 3px 1px rgba(41, 122, 213, .85); 	
    }
    
    .ButtonNormal:disabled 
    {
        color:#808080;
        border-color: #808080;
        -webkit-box-shadow: none; 	
        -moz-box-shadow: none; 	
        box-shadow: none; 	
    }    
    
    .ButtonNormal:hover 
    {
        border-color: #f49647;
        background-color: #fdde83;
        -webkit-box-shadow: 0px 0px 2px 1px rgba(244, 150, 71, .85); 	
        -moz-box-shadow: 0px 0px 2px 1px rgba(244, 150, 71, .85); 	
        box-shadow: 0px 0px 2px 1px rgba(244, 150, 71, .85); 	
    }
    
    .ButtonNormal[disabled]:hover 
    {
        color:#808080;
        border-color: #808080;
        background-color: #cccccc;
        -webkit-box-shadow: none; 	
        -moz-box-shadow: none; 	
        box-shadow: none; 	
    }    
    
    .ButtonToolbar 
    {
        border:1px solid #cccccc;
        vertical-align:top;
        height:22px;
        width: 5em;
        background-color:#cccccc;
        padding-left:20px;
        background-repeat:no-repeat;
        background-position: 2px 50%;
        margin:0;
    }
    
    .ButtonToolbar:hover 
    {
        border:1px solid #f49647;
        background-color: #fdde83;
    }


.StatusClose{   background-image: url('../COMS/Buttons/close2.jpg'); height:22px; width:53px; }
.StatusClose:hover{   background-image: url('../COMS/Buttons/close1.jpg'); height:22px; width:53px; }

/* Begin form styles */

.formContainer
{
	margin: auto;
	height: auto;
	text-align: left;
}

.formContainerPopup
{
	text-align: left;
}

/* form header is the container that holds four header divs comprised of: left image, middle image (repeated on x axis), title bar and right image */
.formHeader
{
	color: #666666;
	font-weight: bold;
	width: auto;
	position: relative;
}

.formHeaderTopLeft
{
	height: 23px; 
	width: 5px; 
	float: left;
}

.formHeaderBackBar
{
	height: 23px; 
	float: left;
    
}

.formHeaderTitle
{
	padding-top: 4px;
	padding-left: 10px;
	color: rgb(102,102,102);
}

.formHeaderTopRight
{
	height: 23px; 
	width: 5px; 
	float: left;
}

/* end form header parts*/

.formContent
{
	clear: left;
	margin: 0px;
	/*height: 500px; */
	background-color: rgb(245,245,250);
	border-right: solid 1px rgb(185,187,217);
	border-left: solid 1px rgb(185,187,217);
	border-bottom: solid 1px rgb(185,187,217);
}
.formSection
{
	margin: 0px 5px 5px 5px;
	height: 15px;
	background-color: rgb(228,229,242);
	border: solid 1px rgb(210,210,210);
	color: rgb(90,90,90); 
	padding: 6px 0px 6px 5px;
    

}
.formRow
{
	display: block;
	height: 25px;
	width: auto;
}

.formLabel
{
	float: left;
	text-align: right;
	color: rgb(90,90,90);
	font-weight: bold;
	padding: 6px 5px 0px 0px;
}

.formData
{
	float: left;
	text-align: left;
	color: rgb(0,0,0);
	width: auto;
	padding-top: 3px;
}

.formDataNoPad
{
	float: left;
	text-align: left;
	color: rgb(0,0,0);
	width: auto;
}

.formDataText
{
	float: left;
	text-align: left;
	color: rgb(0,0,0);
	width: auto;
	padding-top: 6px;
}

.valSummary 
{
    display:block;
	border: 1px solid #cc0000;
	background-color: #FBEEEB;
	text-align: left;
	width: 70%;
	padding-top: 10px;
	padding-bottom: 15px;
	color: #cc0000;
	/* margin-top: 5px;*/
	margin-left: auto; 
	margin-right: auto;
	height: 90px;  
	overflow: auto;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none !important;
}


/* start of alert/confirmation dialog styles */
.HeadingRow
{
	background-color: #f6f6f6;
	font-weight: bold;
	border-bottom: solid 2px #DFEFFC;
	border-top: solid 2px #DFEFFC;
}

.DarkHeader
{
    background-image:url(../COMS/darkheadergradient.png);
    background-repeat:repeat-x;
}

.GroupHeader
{
    background-color: #EEEEEE;
    border-bottom: 2px solid #EEEEEE ! important;
    border-top: 2px solid #EEEEEE ! important;
    font-weight: bold;
}

tr.rowOn{ background-color: #EFEFEF; }
tr.rowOff{  }

.divPopup
{
    background-color:#dfeffc;
    border: 3px solid #223e7d;
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(25, 59, 119, .85);
    -moz-box-shadow: 0px 0px 8px 5px rgba(25, 59, 119, .85);
    /*box-shadow: 0px 0px 8px 5px rgba(25, 59, 119, .85);*/ 	
    opacity:0.9;
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    padding:3px;
    color:#000000;
    z-index:99999;
}

.divPopupFixedCentered
{
	position: fixed; 
	clear: both; 
	border: 1px solid #223e7d;
	padding: 0px; 
	top: 50%; 
	left:50%; 
	overflow:auto;
}

.divPopupLookup 
{
    width:300px;
	top: 50%; 
	left:50%; 
	margin-left:-150px; 
	margin-top: -105px; 
    z-index:99998;
    min-height:210px;
}
@media (min-width: 0px) and (max-width: 306px) {
    .divPopupLookup {
        width: 99%;
        margin-left:0;
        left:0;
    }
}
@media (min-height: 0px) and (max-height: 210px) {
    .divPopupLookup {
        margin-top:0;
        top:0;
    }
}

.divPopupLarge
{
    width: 700px; 
    height: 400px; 
	top: 50%; 
	left:50%; 
	margin-left:-350px; 
	margin-top: -200px; 
}
@media (min-width: 400px) and (max-width: 700px) {
    .divPopupLarge {
        width: 99%;
        margin-left:0;
        left:0;
    }
}
@media (min-height: 0px) and (max-height: 400px) {
    .divPopupLarge {
        width: 100%;
        height: 100%;
        margin-left:0;
        margin-top:0;
        left:0;
        top:0;
    }
}
@media (min-width: 0px) and (max-width: 400px) {
    .divPopupLarge {
        width: 100%;
        height: 100%;
        margin-left:0;
        margin-top:0;
        left:0;
        top:0;
    }
}

.divPopupSmall
{
    width: 250px; 
    height: 110px; 
	top: 50%; 
	left:50%; 
	margin-left:-125px; 
	margin-top: -55px; 
}
@media (min-width: 0px) and (max-width: 250px) {
    .divPopupSmall {
        width: 99%;
        margin-left:0;
        left:0;
    }
}
@media (min-height: 0px) and (max-height: 110px) {
    .divPopupSmall {
        height: 99%;
        margin-top:0;
        top:0;
    }
}
        
.divPopupMedium {
    width: 400px; 
    height: 200px; 
	top: 50%; 
	left:50%; 
	margin-left:-200px; 
	margin-top: -100px; 
}
@media (min-width: 0px) and (max-width: 400px) {
    .divPopupMedium {
        width: 100%;
        height: 100%;
        margin-left:0;
        margin-top:0;
        left:0;
        top:0;
    }
}
@media (min-height: 0px) and (max-height: 200px) {
    .divPopupMedium {
        width: 100%;
        height: 100%;
        margin-left:0;
        margin-top:0;
        left:0;
        top:0;
    }
}



.UIQClose
{   
    background-image: url('../COMS/delete-white.png'); 
    height:13px; 
    margin-top:2px;
    margin-right:3px;
}

.popupTitleBar 
{
    height:20px;
    background-color:#223e7d;
    margin-bottom:10px;
    vertical-align:middle;
    padding-left:3px;
    font-weight:bold;
    color:White;
    border-bottom: 1px solid #193b77;
}
.popupTitleBar input[type=image]
{
    background-image: url('../COMS/delete-white.png'); 
    background-repeat:no-repeat;
    background-position:center;
    height:14px; 
    width:14px; 
    margin-top:2px;
    margin-right:2px;
}

.LookupPopup
{
    position:absolute;
    height:104px;
    overflow:auto;
    background-color:#ececec;
    border: 2px solid #72ace7;
    border-radius:3px;
    opacity:0.9;
    filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    padding:0px;
    z-index:99000;
    color:#000000;
}

.LookupPopup a
{
    color:#000;
    text-decoration:none;
}		

.LookupPopup a:hover
{
    color:#166dbc;
    text-decoration:underline;
}	

.LookupPopupData
{
    height:83px;
    overflow:auto;
    padding:1px;
}	

.LookupPopupCount
{
    padding-left:2px;
    height:17px;
    background-color:#94cfee;
    font-weight:bold;    
    vertical-align:middle;
}

.RepeaterColumnDeleteButton{background-image: url('../COMS/Grid/cancel.png'); height:22px; width:22px; background-repeat:no-repeat; }

	.HeaderBar
	{
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    color: #767676;
        border-color: #E5E5E5;
        border-style: solid none solid solid;
        border-width: 1px 0 1px 1px;
        font-weight:normal;
        font-size:14px;
        padding:5px 0 5px 4px;
        text-align:left;
	}
	    
/* table style for data table type display (reports/dashboards) */
.tableReportHeaderRow { font-weight: bold; background-color: #cccccc; border: 2px 0px 2px 0px solid #223e7d; vertical-align: middle; }


/* styles for search control areas */
.filterLabel 
{
    display:none;
    margin:0;
    padding-left:0.2em;
    margin:0;
    vertical-align:middle;
    font-weight:bold;
    font-size:110%;
}

.filterLabelLink
{
    color:#ffffff;
}

.filterImage 
{
    border:2px solid #ffffff;
    border-radius:9px;
    padding:1px;
    vertical-align:middle;
    margin:2px;    
    background-image:url('../COMS/carat-u-white.png'); 
    background-repeat:no-repeat;
    background-position:center center;
    display:inline-block;
    height:14px;
    width:14px;
}
    
.filterContainer 
{
    margin:0;
    padding:0;
    border:0 none;
}

.filterFieldsContainer 
{
    position:relative; padding: 0 5px 5px 5px; background-color: #eee;
}
    
.filterFieldsTable
{
    border:0 none;
    width:100%;
    padding:0;
    margin:0;
}    

.filterItemCol
{
    padding-left:0.5em;
    padding-right:0.5em;
    padding-top:0.3em;
}    

.filterItemLabel
{
    white-space:nowrap;
    font-weight:normal;
}    

/* styles for forms */
.fieldLabel 
{
    text-align:left;
    vertical-align:middle;
    padding-top:0.4em;
    padding-bottom:0.4em;
}

.fieldTable
{
    text-align:left;
    vertical-align:top;
    padding:0;
    border:0;
    margin:0;
    padding-top:0.4em;
    padding-bottom:0.4em;
}

.fields2ColumnTable 
{
}

/* DIQ RadGrid sublass styles*/
.DIQRadGrid {}

.DIQRadGridLabel 
{
    display:none;
}
 
.DIQRadGridContent
{} 

.MimicksReadOnly
{
    background: #EAEAEA;
}

.MimicksNotSupported
{
    background: #DDDDDD;
    color: #808080;
    font-weight: lighter;
}

/* overlay for modal poup */
.ModalOverlayProcessing{
	width:100%; background-color: rgb(228,229,242); 
	bottom: 0; left: 0px; top: 0px;  
	position: fixed;
	filter:alpha(opacity=70);
	opacity:0.7;
	z-index:199990;
	display:none;
}

    /* function buttons with icons */
    .ButtonDBToolbarNormal 
    {
        height:60px;
        width:60px;
        background-color:#cccccc;
        border: 1px solid #297ad5;
        border-radius:2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(41, 122, 213, .85); 	
        -moz-box-shadow: 0px 0px 3px 1px rgba(41, 122, 213, .85); 	
        box-shadow: 0px 0px 3px 1px rgba(41, 122, 213, .85); 	
        padding-top:25px;
        background-repeat:no-repeat;
        background-position: 50% 25%;
        margin:0;
        margin-right:0.5em;
        color:#ffffff;
        font-weight:bold;
    }
    
    .ButtonDBToolbarNormal:disabled 
    {
        color:#808080;
        border-color: #808080;
        -webkit-box-shadow: none; 	
        -moz-box-shadow: none; 	
        box-shadow: none; 	
    }
    
    .ButtonDBToolbarNormal:hover 
    {
        border-color: #f49647;
        background-color: #fdde83;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(244, 150, 71, .85); 	
        -moz-box-shadow: 0px 0px 3px 1px rgba(244, 150, 71, .85); 	
        box-shadow: 0px 0px 3px 1px rgba(244, 150, 71, .85); 	
    }
    
    .ButtonDBToolbarNormal[disabled]:hover 
    {
        color:#808080;
        border-color: #808080;
        background-color: #cccccc;
        -webkit-box-shadow: none; 	
        -moz-box-shadow: none; 	
        box-shadow: none; 	
    }
    
    .ButtonDBToolbarEdit
    {
        background-image: url('/App_Themes/COMS/edit-white.png'); 
    }
    .ButtonDBToolbarSave
    {
        background-image: url('/App_Themes/COMS/disk-white.png'); 
    }
    .ButtonDBToolbarAssign
    {
        background-image: url('/App_Themes/COMS/user-white.png'); 
    }
    .ButtonDBToolbarPreview
    {
        background-image: url('/App_Themes/COMS/eye-white.png'); 
    }
    .ButtonDBToolbarAdd
    {
        background-image: url('/App_Themes/COMS/plus-white.png'); 
    }
    .ButtonDBToolbarCopy
    {
        background-image: url('/App_Themes/COMS/copy-white.png'); 
    }
    .ButtonDBToolbarDelete
    {
        background-image: url('/App_Themes/COMS/delete-white.png'); 
    }
    
/* TOOL TIP (question mark) */
.questionImg { display: block;margin-left:5px;width: 18px;height: 18px;background: url(/App_Themes/COMS/question.png) no-repeat 0 0;overflow: hidden;
text-indent: -15000px;font-size: 0px;line-height: 0px;}
 
.questionImg:hover { background-position: 0 -18px;}
 
.blue-tooltip + .tooltip > .tooltip-inner {font-size:14px; color:#4a90e2; border:1px solid #4a90e2; background-color:#fff; padding:5px 10px 5px 10px; max-width: 350px; width: 350px; }
.tooltip.in { opacity: 0; filter: alpha(opacity=100); }
.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-right-color: #4a90e2; border-width: 5px 5px 5px 0;  }
/* /TOOL TIP (question mark) */


