.pccSessionTimeoutModalWrapper{
    background:rgb(150, 180, 104) url(/images/PointClickCare-logo.png) no-repeat 20px 30px;
    bottom:0;
    left:0;
    position:fixed;
    right:0;
    top:0;
    z-index:100000;
}

.pccSessionTimeoutModal{
    background:#fff;
    border-radius:10px;
    box-shadow:0 7px 20px -5px #000;
    height:200px;
    left:calc(50% - 210px);
    overflow:hidden;
    padding:10px;
    position:absolute;
    top:calc(50% - 110px);
    width:400px;
}

.pccSessionTimeoutModalTitle{
    background:#efefef;
    font-size:1.5em;
    margin:-10px -10px 30px;
    padding:10px;
}

.pccSessionTimeoutModalMsg{
    text-align:center;
}