.DIQRadGrid .rgMasterTable 
{
	position:relative;
	overflow:hidden;
	border-collapse:collapse;
}

.DIQRadGrid .rgMasterTable thead th
{
	display: none;
}

.DIQRadGrid .rgMasterTable colgroup
{
	display:none;
}

.DIQRadGrid .rgGroupPanel
{
	display:none;
}

div > .DIQRadGrid .rgMasterTable td[data-th]
{
	float:left;
	display: block;
	width:100%;
	clear:both;
	text-align:left;		
	border:0 none;
	margin:0;
	padding-bottom:0.1em;
	overflow:hidden;
}

.DIQRadGridLabel
{
    display:inline-block;
    width:10em;
    font-weight:bold;
    color:#505050;
    float:left;
}

.DIQRadGridContent
{
    display:block;
    overflow:hidden;
}

.DIQRadGrid .rgMasterTable td[data-controlcell]:before 
{
    display:inline-block;
    content: attr(data-th);
    width: 10em;
    font-weight:bold;
    color:#505050;
}

.DIQRadGrid .rgMasterTable td[data-primary] 
{
	float:left;
	display: block;
	width:100%;
	clear:both;
	background-color:#5ea9ec; 
	color:white;	         
	font-weight:bold;
	vertical-align:middle;
}

.DIQRadGrid .rgWrap 
{
    padding:0;
    margin:0;
    border: 0 none;
}

.DIQRadGrid .rgNumPart > a
{
    display:none;
}

.DIQRadGrid .rgNumPart .rgCurrentPage
{
    display:inline-block;
}

.DIQRadGrid .rgInfoPart 
{
    clear:both;
    width:98%;
    display:block;
    float:none;
    padding-left:3em;
    margin:0 none;
}

.DIQRadGrid .rgAdvPart .rcbInputCell 
{
    float:none;
    width:auto;
    display:table-cell;
}

.DIQRadGrid .rgAdvPart .rcbArrowCell 
{
    float:none;
    width:auto;
    display:table-cell;
}


