html{
	border:0;/* Get rid of 2px gray bevel in IE */
}
body{
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	margin:0;
	padding:0;
}
form{
	margin:0;
}

img{
	border:0;
}

br.clear{
	clear:both;
}

a[href], a[onclick]{
	cursor:pointer;
}

a:link{
	color:#0563c1;
	text-decoration:none;
}
a:visited{
	color:#0563c1;
}
a:hover{
	color:#0674e3;
	text-decoration:underline;
}
a:focus{
	color:#0674e3;
	text-decoration:underline;
}
a:active{
	background-color:transparent;/* IE10+ bug fix */
	color:#0674e3;
	text-decoration:underline;
}

a.lightlink:link{
	color:#fff;
}
a.lightlink:visited{
	color:#fff;
}
a.lightlink:hover{
	color:#eee;
}
a.lightlink:focus{
	color:#eee;
}
a.lightlink:active{
	color:#eee;
}


td p{
	margin:0;
}

.fixedWidthFont{
	font-family:"Courier New", Courier, monospace;
}

.updatedItemHighlight{
	background-color:#fffedf;
}

span.hintText{
	color:#777;
	font-size:8pt;
	font-weight:normal;
}

.pageTitle{
	font-size:12pt;
	font-weight:bold;
}

.reportTitle{
	font-size:20pt;
	font-weight:bold;
}

.shadeout{
	background-color:#d5d5d5;
	color:#000;
}

.shadeoutlight{
	background-color:#f0f0f0;
	color:#000;
}

td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}

td.menu{
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
}

td.calendarNum{
	color:#333;
	cursor:pointer;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	width:14%;
}
td.calendarWkd{
	background-color:#ddd;
	color:#333;
	cursor:pointer;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	width:14%;
}
td.calendarToday{
	background-color:#fffa9e;
	color:#000;
	cursor:pointer;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	width:14%;
}

.calendarDay{
	background:#97b469;
	color:#fff;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	width:14%;
}

.errormsg{
	color:red;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
}

.errormsgbold{
	color:red;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
}



/* Default FORM FIELD rendering */
select{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}

input, textarea{
	font-family:"Courier New", Courier, monospace;
	font-size:9pt;
}
input::-ms-clear{
	display:none;
}

/* Specific textarea properties */
textarea{
	overflow:auto;/* Hides disabled scrollbars in IE */
}

/* Text based form elements */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="time"],
input[type="week"],
input[type="month"],
select,
textarea{
	border:1px solid #a9a9a9;
	margin:0;
	outline:none;
	padding:2px 1px 2px 1px;
	-webkit-transition:all 0.10s ease-in-out;
	-moz-transition:all 0.10s ease-in-out;
	-ms-transition:all 0.10s ease-in-out;
	-o-transition:all 0.10s ease-in-out;
	transition:all 0.10s ease-in-out;
}

input[type="file"]{
	margin:0;
	outline:none;
	padding:2px 1px 2px 1px;
	-webkit-transition:all 0.10s ease-in-out;
	-moz-transition:all 0.10s ease-in-out;
	-ms-transition:all 0.10s ease-in-out;
	-o-transition:all 0.10s ease-in-out;
	transition:all 0.10s ease-in-out;
}


/* Reset select padding */
select{
	padding:1px;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="month"]:hover,
select:hover,
textarea:hover{
	border:1px solid #4592cc;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
select:focus,
textarea:focus{
	border:1px solid rgba(105, 158, 255, 1);
	box-shadow:0 0 5px rgba(105, 158, 255, 1);
}

/* Readonly fields */
input[readonly][type="text"],
input[readonly][type="password"],
input[readonly][type="search"],
input[readonly][type="number"],
input[readonly][type="tel"],
input[readonly][type="email"],
input[readonly][type="url"],
input[readonly][type="color"],
input[readonly][type="date"],
input[readonly][type="datetime"],
input[readonly][type="time"],
input[readonly][type="week"],
input[readonly][type="month"],
textarea[readonly]{
	background-color:#e7e7e7;
	border:1px solid #c3c3c3;
	color:#666;
	-webkit-appearance:none;/* Trying to override Safari search box but no luck */
}

/* Disabled fields */
input[disabled][type="text"],
input[disabled][type="password"],
input[disabled][type="search"],
input[disabled][type="number"],
input[disabled][type="tel"],
input[disabled][type="email"],
input[disabled][type="url"],
input[disabled][type="color"],
input[disabled][type="date"],
input[disabled][type="datetime"],
input[disabled][type="time"],
input[disabled][type="week"],
input[disabled][type="month"],
select[disabled],
textarea[disabled]{
	background-color:#e7e7e7;
	border:1px solid #c3c3c3;
	color:#666;
}

/* Only set the text color on file inputs */
input[readonly][type="file"],
input[disabled][type="file"]{
	color:#666;
}

/* Revert back radio buttons (stops the box bleeding behind the radio button) */
input[readonly][type="radio"],
input[disabled][type="radio"]{
	background:none;
	border:none;
}

/* Override READONY and DISABLED fields to not show a focus or hover highlights */
input[readonly][type="text"]:hover,
input[readonly][type="password"]:hover,
input[readonly][type="search"]:hover,
input[readonly][type="number"]:hover,
input[readonly][type="tel"]:hover,
input[readonly][type="email"]:hover,
input[readonly][type="url"]:hover,
input[readonly][type="color"]:hover,
input[readonly][type="date"]:hover,
input[readonly][type="datetime"]:hover,
input[readonly][type="time"]:hover,
input[readonly][type="week"]:hover,
input[readonly][type="month"]:hover,
select[readonly]:hover,
textarea[readonly]:hover{
	border:1px solid #c3c3c3;
	box-shadow:none;
}

input[disabled][type="text"]:hover,
input[disabled][type="password"]:hover,
input[disabled][type="search"]:hover,
input[disabled][type="number"]:hover,
input[disabled][type="tel"]:hover,
input[disabled][type="email"]:hover,
input[disabled][type="url"]:hover,
input[disabled][type="color"]:hover,
input[disabled][type="date"]:hover,
input[disabled][type="datetime"]:hover,
input[disabled][type="time"]:hover,
input[disabled][type="week"]:hover,
input[disabled][type="month"]:hover,
select[disabled]:hover,
textarea[disabled]:hover{
	border:1px solid #c3c3c3;
	box-shadow:none;
}

input[readonly]:focus,
select[readonly]:focus,
textarea[readonly]:focus{
	border:1px solid #c3c3c3;
	box-shadow:none;
}

input[disabled]:focus,
select[disabled]:focus,
textarea[disabled]:focus{
	border:1px solid #a9a9a9;
	box-shadow:none;
}

/* Override (back) any checkbox/radio buttons */
input[type="checkbox"],
input[type="checkbox"]:hover,
input[type="radio"],
input[type="radio"]:hover{
	border:none;
	background-color:transparent;
}

/* Override (file) input elements */
input[type="file"]{
	/* DO NOT SET a background or border style here */
}

/* For pccDateField calendar icons on disabled date fields */
input.pccDateField[disabled] + img.ui-datepicker-trigger{
	visibility:hidden;
}


/* Standard PCC Buttons */
input.pccButton,
input.dropDownButton,
button.pccButton{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#cfcfcf);/* IE8 Quirks/Compat */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#cfcfcf)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #cfcfcf 100%);
	border:1px solid #707070;
	border-radius:4px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;/*TODO: Remove this when set by default font*/
	font-size:10pt;
	font-weight:bold;
	line-height:10pt;/*MUST match font-size*/
	margin:1px 3px 1px 3px;
	overflow:visible;/*Fixes extra wide buttons in IE (1/2)*/
	padding:3px 5px 3px 5px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;/* IE10+ only */
	-o-user-select:none;/* Although technically correct, Opera ignores this ATM */
	user-select:none;
	width:auto;/*Fixes extra wide buttons in IE (2/2)*/
}

/* Fix additional Firefox issues with button sizing http://davidwalsh.name/firefox-buttons */
input.pccButton::-moz-focus-inner,
input.dropDownButton::-moz-focus-inner,
button.pccButton::-moz-focus-inner{
	border:0;
	padding:0;
}

input.pccButton:hover,
input.dropDownButton:hover,
button.pccButton:hover{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#9be0ef);/* IE8 Quirks/Compat */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#9be0ef)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #9be0ef 100%);
	border-color:#3f76b7;
}

input.pccButton:focus,
input.dropDownButton:focus,
button.pccButton:focus{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#b1e1f5);/* IE8 Quirks/Compat */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#b1e1f5)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #b1e1f5 100%);
	border-color:#3f76b7;
	box-shadow:0 0 5px rgba(63, 118, 183, 0.5), 0 0 10px #fff inset;
	outline:medium none;
}

input.pccButton:active,
input.dropDownButton:active,
button.pccButton:active{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#94d2dd, endColorstr=#77d9ef);/* IE8 Quirks/Compat */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#94d2dd, endColorstr=#77d9ef)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fff 0, #94d2dd 50%, #77d9ef 100%);
	border-color:#3f76b7;
	color:#111;
}

input.pccButton[disabled],
input.pccButton[disabled]:hover,
input.pccButton[disabled]:focus,
input.pccButton[disabled]:active,
input.dropDownButton[disabled],
input.dropDownButton[disabled]:hover,
input.dropDownButton[disabled]:focus,
input.dropDownButton[disabled]:active,
button.pccButton[disabled],
button.pccButton[disabled]:hover,
button.pccButton[disabled]:focus,
button.pccButton[disabled]:active{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);/* IE8 Quirks/Compat */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	background:#ddd;
	border:1px solid #bbb;
	border-radius:4px;
	color:#666;
	cursor:not-allowed;
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;/*TODO: Remove this when set by default font*/
	font-size:10pt;
	font-weight:bold;
	line-height:10pt;/*MUST match font-size*/
	margin:1px 3px 1px 3px;
	overflow:visible;/*Fixes extra wide buttons in IE (1/2)*/
	padding:3px 5px 3px 5px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.25);
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;/* IE10+ only */
	-o-user-select:none;/* Although technically correct, Opera ignores this ATM */
	user-select:none;
	width:auto;/*Fixes extra wide buttons in IE (2/2)*/
}

/*TODO: Remove this when converted to pccButton's*/
input.button{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}


label{
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;/* IE10+ only */
	-o-user-select:none;/* Although technically correct, Opera ignores this ATM */
	user-select:none;
}


/* PCC Date field style tweaks beyond default form styling */
input.pccDateField{
	vertical-align:middle;
}
input.pccDateField::-ms-clear{
	display:none;
}


/* Search/Chooser icon */
img[src$="/core/images/icon-search.png"]{
	height:18px;
	margin-left:1px;
	vertical-align:middle;
	width:18px;
}

/* 14-pixel Info Icon icon */
img[src$="/core/images/icon-info-14.png"]{
	height:14px;
	margin-left:1px;
	vertical-align:middle;
	width:14px;
}

/* Textarea counter/limit styles */
span.pccTextareaCounter{
	color:#888;
	cursor:help;
	padding:1px 2px 1px 2px;
}
span.pccTextLimitNear{
	color:#800000;
}
span.pccTextLimitAtOrReached{
	color:#c00000;
	font-weight:bold;
}

/* pccResults Table styles */
table.pccResults{
	background-color:#666;
	border-collapse:collapse;
	box-shadow:0 8px 6px -6px #ccc;
	margin-bottom:8px;
}

table.pccResults > thead > tr > th{
	background-color:#fafafa;
	background-image:url('/images/core/results/tableHeader.png');
	background-position:0% 100%;
	background-repeat:repeat-x;
	border:1px solid #ccc;
	border-bottom:1px solid #777;
	color:#222;
	font-weight:bold;
	height:20px;
	padding:1px 2px 1px 2px;
	text-align:left;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;/* IE10+ only */
	-o-user-select:none;/* Although technically correct, Opera ignores this ATM */
	user-select:none;
}

table.pccResults > thead > tr > th.sortable{
	cursor:pointer;
}

table.pccResults > thead > tr > th.sortable > span{
	background-position:50% 0%;
	background-repeat:no-repeat;
	display:block;
	width:100%;
}
table.pccResults > thead > tr > th.sortable:hover{
	background-color:#d9f2fd;
	background-image:url('/images/core/results/tableHeaderSortable.png');
}

table.pccResults > thead > tr > th.sortedAscending,
table.pccResults > thead > tr > th.sortedDescending{
	background-color:#f2f9fc;
	background-image:url('/images/core/results/tableHeaderSorted.png');
}

table.pccResults > thead > tr > th.sortedAscending > span{
	background-position:50% 0%;
	background-repeat:no-repeat;
}

table.pccResults > thead > tr > th.sortedDescending > span{
	background-position:50% 100%;
	background-repeat:no-repeat;
}

table.pccResults > thead > tr > th.sortedAscending > span{
	background-image:url('/images/core/results/sortedAscending.gif');
}
table.pccResults > thead > tr > th.sortedDescending > span{
	background-image:url('/images/core/results/sortedDescending.gif');
}

/* Filters within a results table */
table.pccResults > thead > tr.pccFilterRow th,
table.pccResults > thead > tr.pccFilterRow td{
	background-color:#888;
	background-image:none;
	border:1px solid #666;
	border-top:1px solid #000;
	padding:1px;
}

table.pccResults > thead > tr > td,
table.pccResults > tbody > tr > td,
table.pccResults > tr > td{
	background-color:#fff;
	border:1px solid #ddd;
	color:#222;
	padding:1px 3px 1px 3px;
}

table.pccResults > thead > tr.even > td,
table.pccResults > tbody > tr.even > td,
table.pccResults > tr.even > td{
	background-color:#f9f9f9;
}

/* scoped styles */
table.pccResults > thead > tr.corporateRowColor > td,
table.pccResults > tbody > tr.corporateRowColor > td,
table.pccResults > tr.corporateRowColor > td{
	background-color:#fff;
}

table.pccResults > thead > tr.facilityRowColor > td,
table.pccResults > tbody > tr.facilityRowColor > td,
table.pccResults > tr.facilityRowColor > td{
	background-color:#eef567;
}

table.pccResults > thead > tr.divisionRowColor > td,
table.pccResults > tbody > tr.divisionRowColor > td,
table.pccResults > tr.divisionRowColor > td{
	background-color:#85e381;
}

/* New PCC Pagination */
div.pccPaginationWrapper{
	background-color:#f6f6f6;
	border:1px solid #ddd;
	border-radius:3px;
	display:inline-block;
	margin:3px 0 1px 0;
	padding:1px 8px;
	width:auto;
}

div.pccPaginationWrapper div.pccPaginationMetaData{
	display:block;
	padding:2px 0;
}

div.pccPaginationWrapper div.pccPaginationMetaData span.pccPaginationCount{
	display:inline-block;
	margin-right:15px;
}
div.pccPaginationWrapper div.pccPaginationMetaData span.pccPaginationPageXofY{
	display:inline-block;
	margin-right:15px;
}
div.pccPaginationWrapper div.pccPaginationMetaData span.pccPaginationResultsPerPage{
	display:inline-block;
	margin-right:15px;
}

div.pccPaginationWrapper div.pccPaginationMetaData span.pccPaginationCount span{
	font-weight:bold;
}
div.pccPaginationWrapper div.pccPaginationMetaData span.pccPaginationPageXofY span{
	font-weight:bold;
}
div.pccPaginationWrapper div.pccPaginationMetaData span.pccPaginationResultsPerPage span{
	font-weight:bold;
}

div.pccPaginationWrapper div.pccPaginationLinks{
	display:block;
	padding:2px 0;
}
div.pccPaginationWrapper div.pccPaginationLinks ol{
	display:inline-block;
	list-style-type:none;
	margin:0;
	padding:0;
}
div.pccPaginationWrapper div.pccPaginationLinks ol li{
	display:inline-block;
}
div.pccPaginationWrapper div.pccPaginationLinks a{
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#cfcfcf)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #cfcfcf 100%);
	border:1px solid #707070;
	border-radius:3px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-size:13px;
	font-weight:normal;
	line-height:13px;
	margin:0;
	min-width:15px;
	padding:2px 3px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

div.pccPaginationWrapper div.pccPaginationLinks a:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#9be0ef)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #9be0ef 100%);
	border-color:#3f76b7;
}
div.pccPaginationWrapper div.pccPaginationLinks a.pccActiveLink{
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#b1e4f9, endColorstr=#9bbcf2)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #b1e4f9 0, #9bbcf2 100%);
	color:#111;
	font-weight:bold;
}
div.pccPaginationWrapper div.pccPaginationLinks a:focus{
	background-image:linear-gradient(to bottom, #fcfcfc 0px, #b1e1f5 100%);
	border-color:#3f76b7;
	box-shadow:0 0 5px rgba(63, 118, 183, 0.5), 0 0 10px #fff inset;
	outline:medium none;
}
div.pccPaginationWrapper div.pccPaginationLinks a:active{
	background-image:linear-gradient(to bottom, #fff 0px, #94d2dd 50%, #77d9ef 100%);
	border-color:#3f76b7;
}

div.pccPaginationWrapper div.pccPaginationLinks a.pccPaginationFirst{
	padding:2px 6px;
}
div.pccPaginationWrapper div.pccPaginationLinks a.pccPaginationPrev{
	margin-right:5px;
	padding:2px 6px;
}
div.pccPaginationWrapper div.pccPaginationLinks a.pccPaginationNext{
	margin-left:5px;
	padding:2px 6px;
}
div.pccPaginationWrapper div.pccPaginationLinks a.pccPaginationLast{
	padding:2px 6px;
}

/* Legacy PCC Pagination (Deprecated) */

/* A high level container for all of the results bar elements */
div.pccResultsBar{
	background-color:#f6f6f6;
	border:1px solid #ddd;
	border-radius:3px;
	margin:3px 0 1px 0;
	padding:3px 30px 3px 30px;
}

div.pccResultsBar span.pccResultsInfo{
	display:inline-block;
}

div.pccResultsBar span.pccResultsInfo span.pccResultsCount{
	font-weight:bold;
}

div.pccResultsBar span.pccResultsInfo span.pccResultsPageX{
	font-weight:bold;
}

div.pccResultsBar span.pccResultsInfo span.pccResultsPageY{
	font-weight:bold;
}

div.pccResultsBar span.pccResultsInfo span.pccResultsCountPerPage{
	font-weight:bold;
}

span.pccResultsJumpBarPagination{
}

span.pccResultsJumpBarPagination a{
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#cfcfcf)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #cfcfcf 100%);
	border:1px solid #707070;
	border-radius:3px;
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-size:13px;
	font-weight:normal;
	line-height:13px;
	margin:1px;
	min-width:15px;
	padding:2px 3px;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

span.pccResultsJumpBarPagination a:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#9be0ef)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #fcfcfc 0, #9be0ef 100%);
	border-color:#3f76b7;
}

span.pccResultsJumpBarPagination a.selected{
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#b1e4f9, endColorstr=#9bbcf2)";/* IE8+9 Standards */
	background-image:linear-gradient(to bottom, #b1e4f9 0, #9bbcf2 100%);
	color:#111;
	font-weight:bold;
}

span.pccResultsJumpBarPagination a:focus{
	background-image:linear-gradient(to bottom, #fcfcfc 0px, #b1e1f5 100%);
	border-color:#3f76b7;
	box-shadow:0 0 5px rgba(63, 118, 183, 0.5), 0 0 10px #fff inset;
	outline:medium none;
}

span.pccResultsJumpBarPagination a:active{
	background-image:linear-gradient(to bottom, #fff 0px, #94d2dd 50%, #77d9ef 100%);
	border-color:#3f76b7;
}

/* PCC Tabs */
ul.pccTabs{
	background:#606060;
	list-style:none;
	margin:0;
	overflow:auto;
	padding:0;
	white-space:nowrap;
}

ul.pccTabs > li{
	float:left;
}

ul.pccTabs > li > a{
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	padding:3px 7px;
	text-decoration:none;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

ul.pccTabs > li:hover{
	background:#828080;
}

ul.pccTabs .pccActiveTab,
ul.pccTabs .pccActiveTab:hover{
	background:#97b469;
}

/* PCC SECTION TITLE */
div.pccSectionTitle{
	background:#97b469;
	color:#fff;
	font-size:11pt;
	padding:5px;
}
div.pccSectionSubTitle{
	border-bottom:1px solid #97b469;
	font-size:11pt;
	font-weight:bold;
	margin:10px 0;
	padding-bottom:3px;
}


img.ui-datepicker-trigger{
	cursor:pointer;
	vertical-align:middle;
}

#ui-datepicker-div{
	z-index:3;
}

/* Generic Busy Indicator */
.pccBusy{
    position:relative;
}
.pccBusy:before{
    color:#555;
    content:attr(data-pccbusymessage);
    font-size:10pt;
    position:absolute;
    left:calc(50% + 12px);
    top:calc(50% - .5em);
    z-index:1;
}
.pccBusy:after{
    background:rgba(255,255,255, 0.65) url('/assets/core/images/gif/busy-small.gif') center center no-repeat;
    bottom:0;
    content:'';
    left:0;
    position:absolute;
    right:0;
    top:0;
}

/* WeDate info div styles */
div#dateSelectTextId{
	border:1px solid #a9a9a9;
	color:#333;
	cursor:pointer;
	display:none;
	font-size:9pt;
	margin:0;
	padding:0;
	position:absolute;
	white-space:nowrap;
	z-index:999;
}
div#dateSelectTextId span{
	background-color:#fffdef;
	display:block;
	padding:1px;
}

/* New Form Layout Classes */
.pccForm{
    box-shadow:0 8px 6px -6px #ccc;
    display:inline-block;
    margin:10px;
}
.pccForm .pccFormTitle{
    background-color:#97b469;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    padding:10px;
}
.pccForm .pccFormBody{
    border-collapse:collapse;
    display:table;
}
.pccForm .pccFormRow{
    display:table-row;
}
.pccForm .pccFormRow > *{
    border:1px solid #ccc;
    display:table-cell;
    vertical-align:top;
}
.pccForm .pccFormLabel{
    background-color:#eee;
    max-width:200px;
    min-width:75px;
    padding:5px 10px 5px 5px;
    text-align:right;
}
.pccForm .pccRequired::after{
    color:red;
    content:"\2731";
    float:right;
    font-size:9px;
    margin:0 -8px 0 0;
}
.pccForm .pccFormField{
    padding:3px;
}
.pccForm .pccFormButtons{
    background-color:#fff;
    border:1px solid #ccc;
    border-top:none;
    padding:10px 0;
    text-align:center;
}
/* End New Form Classes */

.required{
	color:red;
	font-size:10pt;
}

.appAriaHide{
	display:none;
}

div.scroller{
	background-color:#fff;
	border:1px solid #a9a9a9;
	overflow:auto;
}

.strikeout{
	text-decoration:line-through;
}

.dropDownMenu{
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-background-clip:padding-box;
	box-shadow:8px 8px 4px -6px #999;
	clear:both;
	display:none;
	min-width:150px;
	position:absolute;
	text-align:left;/* required if container is center aligned */
	z-index:100;
}
.dropDownMenu a{
	border:1px solid transparent;
	color:#000;
	display:block;
	font-size:9pt;
	font-weight:bold;
	line-height:9pt;
	padding:5px;
	text-decoration:none;
}
.dropDownMenu a:hover{
	background-image:linear-gradient(to bottom, #ffffff 0, #e7eef7 100%);
	border:1px solid #aecff7;
}

/* IE9 Only Hack to avoid hover based flicker */
@media screen\0{
	.dropDownMenu a:hover{
		background-color:#e7eef7;
	}
}

/* Colors */
.pccModuleBackgroundColorWhite{
	background-color:#fff;
}
.pccModuleBackgroundColor{
	background-color:#97b469;
	background-image:none !important;/* TODO: remove images on clinical pages so this isn't needed */
}

.pccModuleHeader{
	background-color:#97b469;
	color:#fff;
	font-size:10pt;
	font-weight:bold;
}

.pccModuleBackgroundColorLight{
	background-color:#c1ceab;
}

.pccModuleBackgroundColorResTabs{
	background-color:#606060;
}

.pccModuleBorderColor{
	border-color:#97b469;
}

.pccModuleBorderColorLight{
	border-color:#606060;
}

.pccModuleBorder{
	border:1px solid #97b469;
}

.pccModuleTopBorder{
	border-top:1px solid #97b469;
}
.pccModuleTopBorder2Px{
	border-top:2px solid #97b469;
}

.pccModuleBottomBorder{
	border-bottom:1px solid #97b469;
}
body.clinical .pccModuleBottomBorder{
	border-bottom:2px solid #97b469;/* TODO: determine where this is being used, we likely do not want this override */
}

body.clinical .pccModuleBottomBorderOnePx{ /*Some places use 1px rather than most places which use 2px */
	border-bottom:1px solid #97b469;
}

.pccModuleTopBorderColor{
	border-top-color:#97b469;
}

.pccModuleBottomBorderColor{
	border-bottom-color:#97b469;
}

.pccModuleColor{
	color:#97b469;
}


/* PCC messages */
div.pccMessageHeader,label.pccMessage{
	background-position:0 0%;
	background-repeat:no-repeat;
	border:1px solid #333;
	border-radius:5px;
	color:#222;
	font-size:10pt;
	font-weight:normal;
	margin:1px;
	max-height:195px;
	min-height:20px;
	overflow:auto;
	padding:10px 2px 2px 34px;
}

/* PCC field-level messages DEPRECATED do not use */
label.pccMessage{
	background-size:18px;
	display:block;
	line-height:normal;
	padding:3px 1px 1px 20px;
}

div.pccMessageHeader.pccInfo,div.pccMessageHeader.info,label.pccMessage.info{
	background-color:#e0f6ff;
	background-image:url('/images/core/msgs/icon-info.png');
	border-color:#a6cfe2;
}

div.pccMessageHeader.pccSuccess,div.pccMessageHeader.success,label.pccMessage.success{
	background-color:#cf9;
	background-image:url('/images/core/msgs/icon-success.png');
	border-color:#9c0;
}

div.pccMessageHeader.pccWarn,div.pccMessageHeader.warn,label.pccMessage.warn{
	background-color:#fcce92;
	background-image:url('/images/core/msgs/icon-warn.png');
	border-color:#df7d00;
}

div.pccMessageHeader.pccError,div.pccMessageHeader.error,label.pccMessage.error{
	background-color:#ffd6d6;
	background-image:url('/images/core/msgs/icon-error.png');
	border-color:#df9898;
}

/* Inline PCC messages */
div.pccMessage,span.pccMessage{
	background-position:1px 1px;
	background-repeat:no-repeat;
	border:1px solid #333;
	border-radius:3px;
	color:#222;
	display:inline-block;
	font-size:9pt;
	font-weight:normal;
	margin:1px;
	min-height:15px;
	padding:2px 3px 1px 19px;
}

div.pccMessage.pccInfo,span.pccMessage.pccInfo{
	background-color:#e0f6ff;
	background-image:url('/assets/core/images/msgs/icon-info-16.png');
	border-color:#a6cfe2;
}

div.pccMessage.pccSuccess,span.pccMessage.pccSuccess{
	background-color:#cf9;
	background-image:url('/assets/core/images/msgs/icon-success-16.png');
	border-color:#9c0;
}

div.pccMessage.pccWarn,span.pccMessage.pccWarn{
	background-color:#fcce92;
	background-image:url('/assets/core/images/msgs/icon-warn-16.png');
	border-color:#df7d00;
}

div.pccMessage.pccError,span.pccMessage.pccError{
	background-color:#ffd6d6;
	background-image:url('/assets/core/images/msgs/icon-error-16.png');
	border-color:#df9898;
}

a.pccActionMenu{
  background:url('/images/pcc-drop-arrow.png') center right no-repeat;
  cursor:pointer;
  padding-right:15px;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  white-space:nowrap;
}

ul.pccMenuWrapper{
   background-color:#fff;
   border:1px solid #999;
   border-top-left-radius:1px;
   border-top-right-radius:2px;
   border-bottom-left-radius:2px;
   border-bottom-right-radius:2px;
   box-shadow:8px 8px 4px -6px #999;
   color:#333;
   display:none;
   list-style:none;
   margin:0;
   min-width:75px;
   padding:2px;
   position:absolute;
   z-index:1;
}

ul.pccMenuWrapper li{
   border:1px solid #fff;
   border-radius:3px;
   color:#333;
   cursor:pointer;
   padding:1px 2px 0 2px;
   text-align:left;
}

ul.pccMenuWrapper li:hover{
   -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e7eef7)";/* IE9 Only */
   background-image:linear-gradient(to bottom, #ffffff 0, #e7eef7 100%);
   _filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e7eef7);/*IE8 only*/
   border:1px solid #aecff7;
   color:#000;
}

th.detailColHeader{
	background-color:#d5d5d5;
	color:#333;
	font-size:9pt;
	font-weight:bold;
	text-align:left;
}

td.detailColHeader{
	background-color:#d5d5d5;
	color:#333;
	font-weight:bold;
}

/*********** FOOTER ***********/
div.footertext{
	background-color:#ccc;
	color:#606060 !important;
	display:inline-block;
	margin:10px 0 0 0 !important;
	padding:10px 0 0 0;
	text-align:left;
	width:100%;
}

div.footertext div{
	border-left:1px dotted #fff;
	float:left;
	height:120px;
	padding-left:20px;
	width:30%;
}

div.footertext .footerWrap{
	white-space:nowrap;
}