.slHeader{
	background-color:#80b42d;
	border-bottom:3px solid #fff;
	border-top:10px solid #fff;
}
.slPccLogo{
	padding:10px 0 10px 30px;
}
.slTopNav{
	color:#fff;
	line-height:38px;
	padding:0 20px 0 0;
}
.slTopNav a{
	color:#fff;
}
.slMainNav{
	background-color:#414042;
	border-bottom:1px solid #ccc;
}
.slSidebarMenu{
	float:left;
	margin:5px 5px 4px 15px;
}

#topTabs li{
	padding:0;
}

.slMainNavTabs .HomePageTab{
	background-color:#97b469;
}

.slMainNavTabs .AdminTab{
	background-color:#97b469;
}

.slMainNavTabs .ClinicalTab{
	background-color:#97b469;
}

.slMainNavTabs .QIATab{
	background-color:#97b469;
}

.slMainNavTabs .GLTab{
	background-color:#97b469;
}

.slMainNavTabs .AnalyticsTab{
	background-color:#97b469;
}

.slMainNavTabs .documentManagerTab{
	background-color:#97b469;
}

.slMainNavTabs .MarketingTab{
	background-color:#97b469;
}

.slMainNavTabs .reportingTab{
     background-color:#97b469;
}

/* EMC TABS */
.slMainNavTabs .emcHomePageTab, 
.slMainNavTabs .emcDashboardTab, 
.slMainNavTabs .emcReportingTab, 
.slMainNavTabs .emcReportingClinicalTab, 
.slMainNavTabs .emcStandardsTab, 
.slMainNavTabs .emcStandardsClinicalTab,
.slMainNavTabs .emcOperationsTab, 
.slMainNavTabs .emcMarketingTab,
.slMainNavTabs .emcMarketingCRMTab{
	background-color:#97b469;
}

.detailBody div.pccModuleHeader{
	background-color:#97b469;
}

.slMainNavTabs ul{
	list-style:none;
	margin:0;
	padding:0;
}
.slMainNavTabs li{
	float:left;
}

#mmTouchTabOff{
	background-color:#414042 !important;
	color:#fff !important;
}

.slMainNavTabs li a{
	color:#fff;
	display:inline-block;
	font-size:14px;
	font-weight:normal;
	margin:0;
	padding:7px 14px;
	text-decoration:none;
}

.slMainNavTabs li a:hover{
	background-color:#fff !important;
	color:#414042 !important;
}

.mmTabColorHover{
	background-color:#fff !important;
	color:#414042 !important;
}

.slResidentSearch{
	padding:5px 15px 0 0;
}
.slSubNav{
	background-color:#97b469;
	height:10px;
	padding:0 0 0 8px;
}
.slSubNavLinks{
	line-height:20px
}
.slSubNavLinks a{
	color:#fff;
	line-height:20px;
	padding:0 10px;
	text-decoration:none;
}
.slSubNavLinks a:hover{
	color:#414042;
}

#pccUserMenu{
	margin:-10px 0 0 0;
	width:160px;
	z-index:3;
}

.slTopNav .dropDownList{
	background-color:#fff;
	border:1px solid #414042;
	box-shadow:0 3px 6px rgba(64, 64, 64, 0.4);
	color:#000;
	display:none;
	line-height:20px;
	position:absolute;
	z-index:1;
}

.slTopNav .dropDownList ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.slTopNav .dropDownList li{
	cursor:pointer;
	padding:0;
}

.slTopNav .dropDownList a{
	color:#000;
	display:inline-block;
	margin:0 5px 0 0;
	padding:0;
	text-decoration:none;
	width:95%;
}
.slTopNav .dropDownList a:hover{
	color:#000;
}

.slTopNav a{
	text-decoration:none;
}
.slTopNav a:hover{
	text-decoration:underline;
}
.slTopNav #pccFacMenu{
	display:none;
	margin:-10px 0 0 0;
	text-align:left;
	width:450px;
	z-index:10;
}
.slTopNav #pccFacMenu li{
	width:100%;
}
.slTopNav #pccFacMenu #facTabs{
	background-color:#414042;
	cursor:pointer;
	height:35px;
	text-align:center;
}
.slTopNav .navLink{
	margin-left:10px;
	padding:0 5px;
}
.slTopNav .navLinkSelected{
	background-color:#414042;
	padding:5px;
}
.slTopNav #pccFacMenu{
	min-height:185px;
}
.slTopNav #pccFacMenu #facTabs td{
	background-color:#414042;
	color:#fff;
	margin:0;
}
.slTopNav #pccFacMenu #facTabs td a{
	color:#fff;
	font-weight:bold;
}
.slTopNav #pccFacMenu #facTabs .facTabSelected{
	background-color:#94b286;
}
.slTopNav #pccFacMenu #facTabs .facTabHover{
	background-color:#5f6062;
}
.slTopNav #fac2, #fac3{
	display:none;
}
#pccFacMenuContainer ul.facilityListOptions li a{
	color:#333;
	display:inline-block;
	padding:0 10px;
	text-decoration:none;
}
#pccFacMenuContainer ul.facilityListOptions li a:hover{
	background-color:#f2f2f2;
	color:#000;
}
.slTopNav #facList{
	height:380px;
	overflow-x:hidden;
	overflow-y:auto;
	white-space:normal;
	width:450px;
}
.slTopNav #facSearch{
	background-color:#f2f2f2;
	border-bottom:1px solid #414042;
}
.slTopNav #facSearch .searchBox{
	padding:0 0 0 10px;
	width:150px;
}
.slTopNav #facSearch .managementBtn{
	padding:0 10px 0 0;
}
.megaMenu{
	background-color:#fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-shadow:3px 5px 5px 0px rgba(0,0,0,0.75);
	display:none;
	padding:20px 10px 10px 10px;
	position:absolute;
	z-index:2000;
}
.slResidentSearch #searchField{
	border:1px solid #fff;
	font-family:Arial, Verdana;
	width:163px;
}
.slResidentSearch #searchSelect{
	background-color:#f2f2f2;
	background-image:linear-gradient(to bottom, #fcfcfc 0px, #cfcfcf 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#cfcfcf)";
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#cfcfcf);
	border:1px solid #707070;
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	cursor:pointer;
	margin:0;
	overflow:visible;
	padding:2px 7px 1px 2px;
	text-align:center;
	width:45px;
}
.slResidentSearch #searchSelect:hover{
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfcfc, endColorstr=#9be0ef);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fcfcfc, endColorstr=#9be0ef)";
	background-image:linear-gradient(to bottom, #fcfcfc 0px, #9be0ef 100%);
	border-color:#3f76b7;
}
.slResidentSearch #searchSelect img.facility{
	left:0;
	position:relative;
	top:1px;
}
.slResidentSearch #searchSelect img.arrow{
	position:relative;
	right:-2px;
	top:-1px;
}
.slResidentSearch #searchSelect td{
	text-align:center;
	vertical-align:bottom;
}
.slResidentSearch img.facility{
	height:12px;
}
.slResidentSearch #searchAll{
	background-color:#fff;
	border:1px solid #414042;
	position:absolute;
	right:167px;
	text-align:left;
	z-index:3;
}
.slResidentSearch #searchAll td{
	cursor:pointer;
	padding:3px 5px;
}
.slResidentSearch #searchAll tr:hover{
	background-color:#f2f2f2;
	text-decoration:underline;
}
.slTopNav .arrowDrop{
	background:url('/images/secondNavNestedArrow.png') no-repeat center right;
	padding:5px 20px 5px 10px !important;
}
#topTabs .arrowDrop{
	background:url('/images/secondNavNestedArrow.png') no-repeat center right;
}
.secondNav{
	background-color:#97b469;
	height:10px;
	padding:0 0 0 8px;
}
.secondNav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.secondNav li{
	border-right:1px solid #ccc;
	float:left;
}
.secondNav .secondNavNested{
	background-color:#606060;
	border-left:1px solid #7d7d7d;
	border-right:1px solid #7d7d7d;
	border-top:1px solid #7d7d7d;
	display:none;
	float:left;
	padding:0 0 10px 0;
	position:absolute;
	z-index:2;
}
.secondNav .nestedItemLabel{
	background:url('/images/secondNavNestedArrow.png') no-repeat center right;
	padding:5px 20px 5px 10px !important;
}
.nestedItemTabColor{
	background-color:#97b469 !important;
}
.nestedItemTabColorHover{
	background-color:#606060 !important;
}
.nestedActionItemColor{
	background-color:#97b469 !important;
}
.nestedActionItemColorHover{
	background-color:#606060 !important;
}
.secondNav .secondNavNested .secondNavNestedItem{
	border-bottom:1px solid #7d7d7d;
	border-right:0 !important;
	float:none;
	line-height:10px;
}
.secondNav .secondNavNested .secondNavNestedItem a{
	width:150px;
}
.secondNav .secondNavList a{
	color:#fff;
	display:inline-block;
	padding:5px 5px;
	text-decoration:none;
}
.secondNav .secondNavList a:hover{
	background-color:#7d7d7d;
	color:#fff;
	text-decoration:none;
}
.secondNav .secondNavNestedAction{
	background-color:#606060;
	border-left:1px solid #7d7d7d;
	border-right:1px solid #7d7d7d;
	border-top:1px solid #7d7d7d;
	display:none;
	float:left;
	padding:0 0 10px 0;
	position:absolute;
	right:25px;
	z-index:2;
}
.secondNav .nestedActionItem{
	border-right:0;
}
.secondNav .nestedActionItemLabel{
	background:url('/images/secondNavNestedArrow.png') no-repeat center right;
	padding:5px 20px 5px 10px !important;
}
.secondNav .secondNavNestedAction .secondNavNestedActionItem{
	border-bottom:1px solid #7d7d7d;
	border-right:0 !important;
	float:none;
	line-height:10px;
}
.secondNav .secondNavNestedAction .secondNavNestedActionItem a{
	width:170px;
}
.megaMenu ul{
	margin:0;
	padding:0 5px 5px 5px;
}
.megaMenu h5{
	margin:0;
	padding:0 0 0 5px;
}
.megaMenu .mmList li{
	float:none;
	padding:0;
}
.megaMenu .mmList li:hover{
	background-color:#eee;
	color:#000 !important;
}
.megaMenu .mmList li a{
	color:#5e5e5e;
	font-size:14px;
	line-height:11px;
	padding:4px 0;
	width:100%;
}
.megaMenu .mmList li a:hover{
	color:#000000 !important;
}
.megaMenu h5{
	color:#97b469;
	font-size:15px;
	margin:0 0 10px 0;
}
.megaMenu .mmBoxes{
	float:left;
	margin:0 15px 0 0;
	min-width:110px;
}
.megaMenu .mmBoxesSeperator{
	background-color:#97b469;
	margin:0 10px 0 0;
	min-width:1px !important;
	padding:0;
}
.chatLabel{
	background-color:#fff;
	border-radius:5px 5px 5px;
	color:#80b42d;
	display:none;
	font-weight:bold;
	padding:5px;
}
.chatHighlite{
	background-color:yellow !important;
}

#resultsPortalNotifications{
	background-image:url('/assets/core/images/results-portal-notifications-off.png');
	background-position:center right;
	background-repeat:no-repeat;
	padding:0 20px;
}
#resultsPortalNotifications.resultsPortalNotificationsActive{
	background-image:url('/assets/core/images/results-portal-notifications-on.png');
}